{% extends 'base.html.twig' %}

{% block body %}
    <section >
        <ul>   <div class>
                <li>  <h1 style="color: #261c3e;font-family: 'Bitstream Charter', sans-serif;">Nos Agents de Joueurs </h1>
                    <p >Nos agents sont des professionnels passionnés et dévoués, spécialisés dans la représentation de joueurs de football. Ils ont acquis une expérience considérable dans l'industrie du football, et travaillent chaque jour pour aider nos joueurs à atteindre leur plein potentiel sur et en dehors du terrain. </p>
                    <p> Avec leur expertise et leur réseau étendu, nos agents sont en mesure de fournir à nos joueurs les meilleures opportunités de carrière, en les aidant à trouver des clubs adaptés à leurs compétences et à leurs ambitions. Nous sommes fiers de notre équipe d'agents, qui s'engage à offrir un service de qualité supérieure à nos joueurs.</p>
                </li>
            </div> </ul>
    </section>
    <table border="1">
        <thead>
        <tr>
            <th>photo</th>
            <th>Nom</th>
            <th>prenom</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        {% for Agent in Agents %}
            <tr>
                <td><img src="{{ Agent.photo }}" alt="{{ Agent.nom }} {{ Agent.prenom }}"></td>
                <td>{{ Agent.nom }}</td>
                <td>{{ Agent.prenom }}</td>
                <td>{{ Agent.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


